<header>
    <a routerLink="/welcomePage">Logito</a>
    <nav>
        <ng-container *ngIf="nombreUsuario; else noLogueado">
            <span> Hola, {{nombreUsuario}}</span>
            <a routerLink="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            <a (click)="cerrarSesion()">Cerrar Sesión</a>
        </ng-container>

        <ng-template #noLogueado>
            <a routerLink="/login">Iniciar sesión</a>
            <a routerLink="/register">Registrarse</a>
        </ng-template>
            
    </nav>
</header>