<header>
    <a routerLink="/welcomePage">Logito</a>
    <nav>
        <ng-container *ngIf="user; else noLogueado">
            <span> Hola, {{user.nombre}}</span>
            <a [routerLink]="['/usuario', user.id_usuario]">Mi Perfil</a>
            <button (click)="cerrarSesion()">Cerrar Sesión</button>
        </ng-container>

        <ng-template #noLogueado>
            <a routerLink="/login">Iniciar sesión</a>
            <a routerLink="/register">Registrarse</a>
        </ng-template>
            
    </nav>
</header>