<!--<button (click)="cerrarSesion()" class="btn-cerrar-sesion">
  Cerrar sesión
</button>-->

<div id="filtros-container">
  
<div class="contenedor-buscador">
<input type="text" placeholder="Buscar por nombre" [(ngModel)]="nombre" id="filtro-nombre">
</div>
<div class="contenedor-filtros">
<select [(ngModel)]="clasificacion" id="filtro-clasificacion">
  <option value="">Todas</option>
  <option value="Running">Running</option>
  <option value="Deportivo">Deportivo</option>
  <option value="Casual">Casual</option>
</select>

<input type="number" id="filtro-precio-min" placeholder="Precio mínimo" [(ngModel)]="precioMin">
<input type="number" id="filtro-precio-max" placeholder="Precio máximo" [(ngModel)]="precioMax">
</div>
<button id="btn-filtrar" (click)="filtrar()">Filtrar</button>

</div>

<div class="grid-productos">
  <a class="tarjeta-producto" *ngFor="let producto of productos$ | async"
     [routerLink]="['/producto', producto.id]">
     
    <img [src]="producto.rutaImagen" [alt]="producto.nombre" class="imagen-producto">
  
    <div class="contenido-producto">
      <h3>{{ producto.nombre }}</h3>
      <p><strong>Clasificación:</strong> {{ producto.clasificacion }}</p>
      <p><strong>Precio:</strong> ${{ producto.precio }}</p>
    </div>
  </a>
</div>
