<div class="detalle-container" *ngIf="producto$ | async as p; else noEncontrado">
    <h2>{{ p.nombre }}</h2>
  <img [src]="p.rutaImagen" [alt]="'Imagen de ' + p.nombre" class="detalle-img" />

  <p class="descripcion">{{ p.descripcion }}</p>
  <p class="clasificacion">Categoría: {{ p.clasificacion}}</p>
  <p class="precio">Precio: ${{ p.precio }}</p>

  <div class="acciones">
    <button (click)="agregarAlCarrito()"> Agregar al carrito</button>
    <button class="comprar" (click)="comprarAhora()"> Comprar ahora</button>
  </div>
</div>

<ng-template #noEncontrado>
  <div class="producto-no-encontrado">
    <h2>Producto no encontrado</h2>
    <p>El producto que buscas no existe o ha sido removido.</p>
    <a routerLink="/home">← Volver al catálogo</a>
  </div>
</ng-template>
