<!--  <div class="row text-center alert-warning">
    <div class="col">
      <div *ngIf="mensaje" class="alert alert-warning">
       <p>{{ mensaje }}</p>
      </div>
    </div>
  </div>-->

  <div *ngIf="mensaje" class="alert alert-danger d-flex align-items-center text-center" role="alert">
    <!--<svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>-->
    <div>
      {{ mensaje }}   
    </div>
  </div>
 
  
  <div class="form-wrapper">
  <h2>Iniciar Sesión</h2>

  <form>
    <div class="ingreso">
    <label for="email">Email</label>
    <input id="email" type="email" name = "email" [(ngModel)] = "email" placeholder="Tu email">
    </div>
    <div class="ingreso">
    <label for="password">Contraseña</label>
    <input id="password" type="password" name = "contrasenia" [(ngModel)] = "contrasenia" placeholder="Tu contraseña">
    </div>
    <div class="opciones">
    <a class="link" (click) = "login()"><button type="submit">Ingresar</button></a>
    <a class="recu" routerLink="/recoverPassword">Olvidaste tu contraseña?</a>
    </div>
  </form>
</div>
