body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;          
    background-color: #fff;
  }
  
  .card {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    min-width: 300px;
    max-width: 500px;
    text-align: left;    
  }

  div, p , strong{
    font-size: 24px;
    padding: 5px;
  }